canvas {
    display: block;
    margin: 0 auto;
    /* What does image-rendering do?

    */
    image-rendering: pixelated;
}

p#pause-msg {
    visibility: hidden;
    color: red;
    font: bold 20px serif;
    text-align: center;
}